.empty-table-message {
  background-color: #0b1218;
  padding: 40px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

.create-account-btn {
  background-color: #202b4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  display: inline-block;
}

.create-account-btn:hover {
  background-color: #304994;
}

.bg-profile {
  background-color: rgba(255, 255, 255, 0.1);
}

.box-shadow-primary {
  box-shadow: 0 4px 30px rgba(87, 128, 179, 0.746);
}
.eyelashes {
  border-radius: 1rem;
  border-width: 1px;
}
.bg-tablist {
  background-color: rgba(35, 35, 35, 0.1);
  color: rgba(180, 176, 171, 0.656);
  font-size: 1.5rem;
}
.bg-tablist:hover {
  background-color: rgba(106, 162, 230, 0.746);
  color: rgb(255, 255, 255);
}
.h-screen-md {
  min-height: 70vh;
}
