.bidding-offert {
  border-radius: 2%;
  margin-left: 0.5rem;
  background-image: linear-gradient(to bottom, #273c50, #161d2a);
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
}
