.nav-minimalist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.nav-minimalist-logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-minimalist-img {
  max-width: 5%;
}

.nav-minimalist-help {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-minimalist-help-img {
  max-width: 35%;
}

.nav-minimalist-logo-title {
  padding-top: 2rem;
  padding-left: 1rem;
  color: #fff;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .nav-minimalist-header {
    padding: 1rem;
  }

  .nav-minimalist-img {
    max-width: 10%; /* Increase the max-width for mobile devices */
  }

  .nav-minimalist-help-img {
    max-width: 35%; /* Increase the max-width for mobile devices */
    margin-right: 2rem;
  }

  .nav-minimalist-logo-title {
    font-size: 2rem; /* Reduce font size for mobile devices */
    padding-top: 1rem; /* Adjust padding for mobile devices */
    padding-left: 0.5rem; /* Adjust padding for mobile devices */
  }
}
