.bidding-introduction-title {
  font-size: 2.5rem;
  color: #f6a001;
}
.bidding-introduction-description {
  color: #fff;
  margin-bottom: 2rem;
}
.bidding-primary {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección a columna */
  align-items: center; /* Centramos los elementos horizontalmente */
  margin-bottom: 1rem;
  width: 100%; /* Ocupa todo el ancho disponible */
}

@media (min-width: 768px) {
  .bidding-primary {
    flex-direction: row; /* Cambiamos la dirección a fila */
    justify-content: space-between; /* Distribuimos los elementos horizontalmente */
    width: 100%;
  }
}
@media (max-width: 768px) {
  .bidding-offert {
    margin: 2rem 1rem 0 1rem;
    width: 100%; /* Ajusta el ancho al 100% en dispositivos más pequeños */
    height: auto; /* Permite que la altura se ajuste automáticamente según el contenido */
    max-width: 100%; /* Establece el ancho máximo al 100% para evitar desbordamientos */
  }
}
.bidding-day {
  border-radius: 2%;
  width: 100%;
  max-width: 50rem;
  height: 50rem;
  background-image: linear-gradient(to bottom, #27445f, #161d2a);
}

.bidding-day-title {
  text-align: start;
  padding-left: 1rem;
  font-size: 2rem;
  color: rgb(178, 178, 177);
}

.bidding-day-image {
  flex-grow: 1; /* Hace que la imagen ocupe todo el espacio restante */
  display: flex; /* Utiliza flexbox para centrar la imagen */
  justify-content: center; /* Centra horizontalmente la imagen */
  align-items: center; /* Centra verticalmente la imagen */
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  overflow: hidden; /* Evita que la imagen se desborde de su contenedor */
  max-width: auto;
}

.bidding-day-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 2rem;
  font-size: 2rem;
}

.bidding-day-content-product-title {
  color: #f6a001;
}
.bidding-day-content-product-description {
  color: rgb(178, 178, 177);
}
.bidding-day-content-product-price {
  color: rgb(57, 101, 182);
}
.bidding-day-content-product-disclaimer {
  color: chartreuse;
}

.bidding-day-content-product-button {
  background-color: #202b4d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  max-width: 96%;
  margin-top: 2rem;
  transition: background-color 0.3s, color 0.3s;
}

.bidding-day-content-product-button:hover {
  background-color: #304994;
  color: #fff;
}

/** OFFERT **/

.bidding-offert {
  border-radius: 2%;
  margin-left: 0.5rem;
  background-image: linear-gradient(to bottom, #273c50, #161d2a);
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
}
