@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prociono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://www.google.com/recaptcha/api.js");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Folkard";
  src: url("/font/Folkard-Regular.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
  display: block;
}

.contenedor {
  max-width: 120rem;
  margin-inline: auto;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.rotate-animation {
  animation: rotate 3s ease-in-out infinite; /* Ajusta la duración y la repetición según sea necesario */
}

.contenedor2 {
  max-width: 110rem;
  margin-inline: auto;
}
.contenedor3 {
  max-width: 50rem;
  margin-inline: auto;
}
.title-server {
  font-family: "Folkard", sans-serif;
}

.box-shadow-server {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(94, 172, 232, 0.746);
}

/* Estilo para el contenedor del diálogo */
.swal-dark-theme-popup {
  background: #0b1218 !important; /* Fondo oscuro */
  color: white !important; /* Texto blanco */
}

/* Estilo para el texto de error */
.swal-dark-theme-popup .swal2-html-container {
  color: white !important; /* Color del texto */
}

/* Estilo para el campo de entrada */
.swal-dark-theme-popup input {
  background-color: #1e2a38 !important; /* Fondo del campo de entrada */
  color: white !important; /* Texto del campo de entrada */
  border: 1px solid #444 !important; /* Borde del campo de entrada */
}

/* Estilo para el botón de confirmación */
.swal-dark-theme-confirm-btn {
  background-color: #3085d6 !important; /* Color del botón de confirmación */
  color: white !important; /* Texto del botón de confirmación */
}

/* Estilo para el botón de cancelar */
.swal-dark-theme-cancel-btn {
  background-color: #d33 !important; /* Color del botón de cancelar */
  color: white !important; /* Texto del botón de cancelar */
}
.body {
  font-size: normal;
}
