@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Folkard";
  src: url("/font/Folkard-Regular.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lora", serif;
  font-size: 1.6rem;
  line-height: 2;
}

img {
  max-width: 100%;
  display: block;
}

.contenedor {
  max-width: 120rem;
  margin-inline: auto;
}

.title-server {
  font-family: "Folkard", sans-serif;
}

.box-shadow-server {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(94, 172, 232, 0.746);
}
