/* Estilos generales para las flechas */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; /* Añade bordes redondeados para un diseño más moderno */
}

.custom-arrow-left {
  left: 10px; /* Ajusta la distancia desde el borde izquierdo en móviles */
}

.custom-arrow-right {
  right: 130px; /* Ajusta la distancia desde el borde derecho en móviles */
}

.custom-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Contenedor del carrusel */
.professions-carousel-container {
  position: relative;
  padding: 2rem 10px; /* Añade padding para evitar que el contenido quede pegado a los bordes */
}

/* Otros estilos */
.carousel-slide {
  flex: 0 0 auto;
  width: 100%;
  padding-top: 1rem; /* Ajusta el espacio en la parte superior si es necesario */
  scroll-snap-align: start;
  margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  display: flex; /* Flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
}

.carousel-slide img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 8px;
  object-fit: cover; /* Asegura que la imagen se ajuste bien en su contenedor */
}

.select-none {
  user-select: none;
}
