.gradiant {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    95%/200% 100%;
}

.bg-text {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    95%/200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
