.title-wow-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Ensure text is centered */
  min-height: 25rem; /* Set a minimum height */
}

/* Adjust height for smaller screens */
@media (max-width: 768px) {
  .title-wow-container {
    min-height: 20rem; /* Adjust as necessary */
  }
}

.title-wow-container h2 {
  margin-bottom: 2rem; /* Space between title and description */
}

.description-container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; /* Hide overflow content */
}

.description-text {
  color: #fff; /* Ensure the text is white */
  margin: 0;
}

.highlight-text {
  color: #ff4e16;
  font-weight: bold;
}

.title-text {
  color: #fff;
}
